@charset "UTF-8" ;

.jaini-regular {
    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  
  
#container
{
 display: grid;
 grid-template-rows: 50em 50em 10em ;
 grid-template-columns:  50em 20em 50em;
}

body
{
 background-color: grey;
 background-size: auto;
}
.title
{
 border: 5px solid;
 background-image: url("source/Cat.resize.jpg");
 background-size:auto;
 border-top-left-radius: 50px;
 border-bottom-left-radius: 50px;
 border-top-right-radius: 50px;
 border-bottom-right-radius: 50px;
 text-align: center;
 line-height: 0.5px;
 font-size:large;
 font-weight: bold;
}
.title h2
{
 color: #2B1B17;
}
.title h3
{
 color: #2B1B17;
}
.list_of_stuff_nav
{
 grid-row-start: 2;
 grid-row-end: 3;
 grid-column-start: 2;
 grid-column-end: 4;
}
.list_of_stuff
{
 list-style-image: url("source/mypicNose.JPG");
 margin-left: 150px;
 font-size: 40px;
}

.Contact ul
{
 list-style-image: url("source/gmail.png");
 margin-left: 100px;
}

/*for each text*/
.list_of_stuff_nav
{
 border: 2px solid;
}
.About_me
{
 border: 2px solid;
}

.Education
{
 border: 2px solid;
}

.WorkAward
{
 border: 2px solid;
}

.Contact
{
 border: 2px solid;
}
/*picture*/

img[src*="source/mypic"]
{
 max-width: 10%;
 border: 7px groove; 
 border-radius: 30%;
 margin: 0 45%;
}