@charset "UTF-8" ;

.jaini-regular {
    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

  
#container
{
 display: grid;
 grid-template-columns: 20em 50px auto;
 grid-template-rows: 64px auto auto auto auto ;
}

/*change for the new media*/
@media (max-width: 600px) {
  #container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (max-width: 400px) {
  #container {
    grid-template-columns: auto;
  }
}

/*line height*/
body
{
 background-color: grey;
 background-size: auto;
}
.title
{
 border: 5px solid;
 background-image: url("source/Cat.resize.jpg");
 background-size:auto;
 border-top-left-radius: 50px;
 border-bottom-left-radius: 50px;
 border-top-right-radius: 50px;
 border-bottom-right-radius: 50px;
 text-align: center;
 line-height: 0.5px;
 font-size:large;
 font-weight: bold;
}
.title h2
{
 color: #2B1B17;
}
.title h3
{
 color: #2B1B17;
}
.Education h4
{
 line-height: 0.1px;
}
a
{
 text-decoration: none;
 border-left: 2px solid black;
 border-right: 2px solid black;
 border-radius: 7px;
}
a:link
{
 color:#2B1B17 ;
}
a:visited{
  color: white;
}
a:focus
{
 background-color: rgba(0,0,0,0.3);
}
a:hover
{
 background-color: rgba(0,0,0,0.3);
}
a:active
{
 background-color: rgba(0,0,0,0.3);
}

/*Grid position*/
.list_of_stuff_nav
{
 grid-row-start: 1;
 grid-row-end: 2;
 grid-column-start: 1;
 grid-column-end: 4;
}
header
{
 grid-row-start: 2;
 grid-row-end: 3;
 grid-column-start: 1;
 grid-column-end: 4;
}
#About_me
{
 grid-row-start: 3;
 grid-row-end: 4;
 grid-column-start: 1;
 grid-column-end: 4;
}
#Contact
{
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2  ;
}
#Education
{
 grid-row-start: 4;
 grid-row-end: 5;
 grid-column-start: 3;
 grid-column-end: 4;
}
#WorkAward
{
 grid-row-start: 5;
 grid-row-end: 6;
 grid-column-start: 3;
 grid-column-end: 4;
}
#related_stuff
{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
}


.list_of_stuff_nav
{
 border-left: 5px solid ;
 border-right: 5px solid;
 border-radius: 10px;
 text-align:center;
}
#Contact
{
  line-height: 1px;
}
#related_stuff p,h4
{
 margin-left: 5px;
}
#Contact ul
{
  font-size: large;
  line-height: 70px;
}
.image
{
 display: inline-block;
 margin: 0 2.5%;
}

#gmail
{
 list-style-image: url("source/gmail.png") ;
}
#instagram
{
 list-style-image: url("source/instagram.png") ;
}
#discord
{
 list-style-image: url("source/discord.png") ;
}

/*for each text and border*/
h4
{
  font-size: 40px;
  line-height: 10px;
}
#Thailand
{
 font-size: larger;
 margin-left: 50px;
 font-weight: bold;
}
#blackCat
{
 font-size: larger;
 margin-left: 25px;
 font-weight: bold;
}
#surat
{
 font-size: larger;
 margin-left: 55px;
 font-weight: bold;
}
#bangkok 
{
 font-size: larger;
 margin-left: 130px;
 font-weight: bold;
}
.list_of_stuff_nav a
{
 text-align: center;
 padding: 10px 15px;
 font-size: 40px;
}
#related_stuff p
{
  font-size: 22px;
}
#About_me
{
 border-left: 5px solid;
 border-right: 5px solid;
 border-radius: 10px;
 line-height: 30px;
}
#About_me p
{
 font-size: 25px;
 margin-left: 10px;
}

#Education
{
 border-top: 5px solid;
 border-bottom: 5px solid;
 border-radius: 10px;
}
#Education ul
{
  font-size: 30px;
}

#WorkAward
{
 
 border-left: 5px solid ;
 border-radius: 10px;
}
#WorkAward li
{
 font-size: 30px ;
}

#Contact
{
 border-top: 5px solid;
 border-right: 5px solid;
 border-radius: 10px;
}
#Contact h4
{
 text-decoration: underline;
 text-decoration-style: double;
}
#related_stuff
{

 border-bottom: 5px solid;
 border-left: 5px solid;
 border-radius: 10px;
}
#related_stuff h4
{
 text-decoration: underline;
 text-decoration-style: double;
}

/*picture*/

img[src*="source/mypic"]
{
 max-width: 10%;
 border: 7px groove; 
 border-radius: 30%;
 margin: 0 45%;
}
